<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
	<section id="main">
		<header>
			<div class="clearfix" style="margin-bottom: 3em;">
				<h1>黄砂予想マップ</h1>
				<input type="date" id="current-date">
			</div>
		</header>

		<footer></footer>
	</section>

	<!-- Footer -->
	<footer id="footer"></footer>
</div>
